.fondoHome {
  background-image: url("../assets/wallpaperflare.com_wallpaper.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  overflow: auto;
}

.fondoCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
